In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("gamification-software-testing-engagement-performance-test-effectiveness.csv")

In [7]:
df.head()

  Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions
0  2019-2020|19-20Student001|19|0|55|7.0|0.0|0.07...
1  2019-2020|19-20Student002|97|100|90|100.0|100....
2  2019-2020|19-20Student003|100|100|100|100.0|10...
3  2019-2020|19-20Student004|89|100|100|53.0|100....
4  2019-2020|19-20Student005|84|100|100|40.0|91.0...

In [8]:
df.describe()

       Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions
count                                                 235
unique                                                235
top     2019-2020|19-20Student001|19|0|55|7.0|0.0|0.07...
freq                                                    1

In [9]:
df.shape

(235, 1)

In [10]:
df.tail()

    Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions
230  2020-2021|20-21Student131|100|100|100|100.0|10...
231  2020-2021|20-21Student132|100|100|100|100.0|10...
232  2020-2021|20-21Student133|100|100|100|100.0|10...
233  2020-2021|20-21Student134|100|100|100|100.0|10...
234  2020-2021|20-21Student135|100|100|100|100.0|10...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                --------------  -----
 0   Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions  235 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

In [12]:
df.loc[0]

Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions    2019-2020|19-20Student001|19|0|55|7.0|0.0|0.07...
Name: 0, dtype: object

In [13]:
df.iloc[0,0]

'2019-2020|19-20Student001|19|0|55|7.0|0.0|0.07|0.0|0.31|0.0|0.0|0|0|1|0.0|0.0|0|0|0|0|0.0|5|1|2|1|1|12|1|9|1|1'

In [15]:
df.iloc[[3,4]]

  Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions
3  2019-2020|19-20Student004|89|100|100|53.0|100....
4  2019-2020|19-20Student005|84|100|100|40.0|91.0...

In [16]:
x=df.iloc[:,:-1]

In [17]:
x

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[235 rows x 0 columns]

In [18]:
y=df.iloc[:,:-1]
y

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[235 rows x 0 columns]

In [21]:
df.columns

Index(['Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions'], dtype='object')

In [23]:
df.isnull().sum()

Academic Year|ID Student|Race Effectiveness|Exercise1 Effectiveness|Exercise2 Effectiveness|Exercise3 Effectiveness|Exercise4 Effectiveness|Race Effectiveness Increase|Exercise1 Effectiveness Increase|Exercise 2 Effectiveness Increase|Exercise3 Effectiveness Increase|Exercise4 Effectiveness Increase|Race Participation|Exercise1 Participation|Exercise2 Participation|Exercise3 Participation|Exercise4 Participation|Race Dropout|Exercise1 Dropout|Exercise2 Dropout|Exercise3 Dropout|Exercise4 Dropout|Race Active Time|Exercise1 Active Time|Exercise2 Active Time|Exercise3 Active Time|Exercise4 Active Time|Race Number Executions|Exercise1 Number Executions|Exercise2 Number Executions|Exercise3 Number Executions|Exercise4 Number Executions    0
dtype: int64